*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #1a1a1a;
  color: #fff;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  gap: 5rem;
  padding: 5rem;
}

section h2 {
  display: none;
}

.experience-canvas {
  position: relative;
  /* width: 594px; */
  height: 100%;
  aspect-ratio: 9 / 16;
}

.experience-canvas canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
}

.step {
  width: 100%;
  margin-bottom: 3rem;
}

.step h3 {
  font-size: 36px;
  margin-bottom: 2rem;
}

.step-background .step-controls {
  display: flex;
  gap: 2rem;
}

.step-background button {
  width: 100%;
  background: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 1rem 2rem;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.step-background button:hover {
  background: #fff;
  color: #000;
}
