*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #1a1a1a;
  color: #fff;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  gap: 5rem;
  padding: 4rem;
}

section h2 {
  display: none;
}

.experience-canvas {
  position: relative;
  width: 100vw;
  height: 100%;
}

.experience-canvas canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: black;
  cursor: url("/download.svg"), auto;
}

.dot {
  position: fixed;
  top: 2rem;
  right: 2rem;
  width: 50px;
  aspect-ratio: 1 / 1;
  background: #485563;
  background: -webkit-conic-gradient(#4776e6, #8e54e9);
  background: conic-gradient(#4776e6, #8e54e9);
  z-index: 99;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  animation: rotate 1s infinite forwards linear;
}

.dot::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: #333;
  border-radius: 100%;
  transform: scale(0.9);
}

.dot[data-open="true"] {
  background: -webkit-conic-gradient(#9796f0, #fbc7d4);
  background: conic-gradient(#9796f0, #fbc7d4);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.steps {
  width: 50vw;
  height: 100%;
  top: 0;
  right: -50vw;
  position: absolute;
  background: rgba(0.1, 0.1, 0.1, 0.7);
  padding: 2rem;
  transition: right 0.3s;
}

.steps.opened {
  right: 0vw;
}

.step {
  width: 100%;
  margin-bottom: 3rem;
}

.step h3 {
  font-size: 36px;
  margin-bottom: 2rem;
}

.step-background .step-controls {
  display: flex;
  gap: 2rem;
}

.step-background button,
.step-asset button,
.step-download button {
  width: 100%;
  background: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 1rem 2rem;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.step-background button:hover,
.step-music button:hover,
.step-asset button:hover,
.step-download button:hover {
  background: #fff;
  color: #000;
}

.step-music select {
  border: 1px solid #fff;
  padding: 1rem 2rem;
  background: transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.step-music button {
  width: 55px;
  height: 55px;
  border-radius: 60px;
  background: none;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  margin-left: 2rem;
}

.step-asset .step-colors {
  display: flex;
  gap: 2rem;
}
